*{
    box-sizing: border-box;
}

body{
   margin: 0;
    font-family: initial;
    background-color:  rgb(11, 15, 26);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    background-attachment: fixed;
}
.menu{
    background-color: rgba(42, 36, 70, 0.664);
    width: 100%;
    border-style: solid;
    border-width: 1px;
}
.lista{
    list-style-type: none;
        background-color:  rgb(17, 17, 51);
            text-align: center;
                width: 100%;
                  justify-content: space-around;
                display: flex;
            align-items: center;
        height: 100px;
     font-size: 20px;
    margin: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.749);
  top: 0;
   margin: 0;
   position: fixed;
   z-index: 1000;
}
footer{
    background-color: rgb(17, 17, 51);
	color: rgb(155, 155, 155);
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}
p{
    color:  rgba(236, 233, 229, 0.767);
    font-size: 20px;
    font-family: initial;
}
h1{
    color:  rgb(163, 128, 38);
    font-size: 45px;
    text-align: center;
}

.texto{
    text-align: center;
   font-size: 50px;
   padding-top: 100px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   
}

hr{
    width: 50%;
    border: 1px solid rgb(217, 209, 209);
    margin: 20px auto;
    box-shadow: 3px 1px 10px rgb(233, 169, 9);
}

